<% if obj.size == 0 %>
  <h3 class="text-center"> No Bookmarks </h3>
  <% end %> 
<% obj.each do |article| %>
  <div class="row">
    <div class="col-md-2">
      <section class="user_info text-center">
        <%= image_tag(article.user.display_image1, class: "custom-image-style") if article.user.image.attached? %>
      </section>
    </div>
    <div class="col-md-10 well">
      <div class="pull-right">
       <%= image_tag(article.image.attachments.first, size: "160x130") if article.image.attached? %>
      </div>
      <h4><%= link_to article.name, article_path(id: article.id) %></h4>
      <p><%= truncate(article.description, length: 250) %></p>
      <% if article.categories.any? %>
        <p>Categories: <%= render article.categories %></p>
      <% end %>
      <p>
        <span class="quiet">Created: <small><%= time_ago_in_words(article.created_at) %>
        ago by <%= article.user.username %> | <%= pluralize(article.comments.count, "Comment") %></small></span>
      </p>
      <% if logged_in? && (current_user == article.user || current_user.admin?) %>
        <div class="articles-actions">
          <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-warning btn-fix" %>
          <%= link_to "Delete this article", article_path(article),
                      method: :delete,
                      data: { confirm: "Are you sure that you want to delete this article?" },
                      class: "btn btn-xs btn-danger btn-fix" %>
        </div>
      <% end %>
      </br>
      <div class="row">
      <div class="pull-right liking">
        <span id="thumbs-up-wrapper-<%= article.id %>">
          <%= render "articles/like_icon", {article: article, like: true} %>
        </span>
        <span id="thumbs-down-wrapper-<%= article.id %>">
          <%= render "articles/like_icon", {article: article, like: false} %>
        </span>
      </div>

       <div id="bookmark-icon-post-<%= article.id.to_s %>" class="ml-auto">
          <%= render "articles/bookmark_icon", { is_bookmarked: article.is_bookmarked(current_user), article: article } %>
        </div>



      </div>
    </div>
  </div>
  
<% end %>